@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

svg {
  font-family: "Russo One", sans-serif;
  width: 100%; height: 100%;
}
svg text {
  animation: stroke 5s infinite alternate;
  stroke-width: 2;
  stroke: #7E0CA8;
  font-size: 5vw;
}
@keyframes stroke {
  0%   {
    fill: rgba(13,20,188,0); stroke: rgba(126,12,168,1);
    stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
  }
  70%  {fill: rgba(13,20,188,0); stroke: rgba(126,12,168,1); }
  80%  {fill: rgba(13,20,188,0); stroke: rgba(126,12,168,1); stroke-width: 3; }
  100% {
    fill: rgba(13,20,188,1); stroke: rgba(126,12,168,0);
    stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
  }
}

.wrapper {background-color: #FFFFFF;
         padding-top: 16vw};



html {
  height: 100%;
  width: 100%;
}

body {
  font-family: Arial, sans-serif;
  max-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

h1 {
  font-size: 2vw;
}

h2 {
  font-size: 1.6vw;
}

p {
  font-size: 1.5vw;
}

li {
  font-size: 1.5vw;
}

#imgDesafio2 img {
  width: 25vw;
  height: 49vh;
}

.imgDesafio3 img {
  width: 9vw;
  height: 11vh;
}

#perfilD5 img {
  width: 20vw;
  height: 35vh;
  border-radius: 50%;
}

#iconeD5 img {
  width: 3.4vw;
  height: 6vh;
}

#corD8 {
  background-color: #d5cdcd;
}

#corVerdeD8 {
  background-color: #8fe788;
  color: #295b25;
}

#corAmarelaD8 {
  background-color: #fef8d7;
  color: #b38d05;
}

.corD9 {
  background-color: black;
  color: white;
}

.videosD9 img {
  width: 23vw;
  height: 25vh;
}

.videosD9 {
  padding-left: 28vw;
}

.h1D9 {
  font-size: 2vw;
  text-align: center;
  padding-top: 9vw;
}

.pD9 {
  font-size: 1.5vw;
  text-align: center;
}

.subImagemD9 img {
  width: 35vw;
  height: 35vh;
}

.subImagemD9 {
  padding-left: 33vw;
}


.subImagem2D9 {
  padding-left: 48vw;
}

#h1Inicio{
  font-size: 3vw;
  text-align: center;
  padding-top: 15vw;
}

#h1Inicio:after {
  content: "";
  position: absolute;
  width: 57vw;
  height: 3px;
  background-color: #c90bfe;
  bottom: 29.5vw;
  left: 0;
  right: 0;
  margin: auto;
}

#voltarIndex button{
  width: 17vw;
  height: 7vh;
  border-radius: 10vw;
  font-size: 1.5vw;
  background-color: #e59ffe;
  color: #000000;
  border: 0.2vw solid black;
}

#voltarIndex button:hover{
  background-color: #8a00b8;
  color: #ffffff;

}

#voltarIndex{
  text-align: center;
  padding-top: 6vw;
}

.tab-links button{
  width: 9.5vw;
  height: 6vh;
  border-radius: 10vw;
  border: 0.2vw solid black;
  font-size: 1.2vw;
  background-color: #ffa8fc;
  color: #000000;
}

.tab-links button:hover{
  background-color: #ff00f7;
  color: #ffffff;
}

.tab-links{
  text-align: center;
  padding-top: 1vw;
} 



.nav ul {
  padding-left: 15vw;
  margin-top: 10vh;
  background-color: #000000;
  /* width: 54vw;
  height: 5vh; */
  padding-top: 1vw;
  /* border-radius: 3vw; */
}

.nav ul li {
  display: inline;
}

.nav ul li a {
  color: white;
  text-decoration: none;
  padding: 2vw;
  font-size: 3vw;

}

.nav ul li a:hover {
  color: #ff5cab;
}

.nav li {
  font-size: 2vw;
 
}

#bodyIndex{
  background-color: black;
}